<html>
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    <title>How to find User id. - Plurkii!</title>
    <meta name="description" content="How to find User id.">
    {% include "h_header.htm" %}
    {% include "h_analytics.htm" %}
  </head>
  <body>
    <table width="100%" height="80%">
      <tr>
        <td align="center" valign="middle">
          <div>
            1.連結到 "<a href="http://www.plurk.com/user_search">搜尋噗浪會員</a>"，搜尋使用者。<br>
            <img src="/images/howto_1.png"><hr>
            2.使用者圖像點右鍵，檢視圖片，之後就可以看到 "http://avatars.plurk.com/<b>3</b>-medium40.gif"，其中 "<b>3</b>" 就是使用者序號。<br>
            <img src="/images/howto_2.png"><br>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
