<html>
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
        <meta name="verify-v1" content="QHMs5HHQRd8yMW70Sf5bzmqJfgmu1gtLqUUow35U3K0=" />
        <title>{% block titlename %}{% endblock %}Plurkii!</title>
        <meta name="description" content="Search your Plurk friends and fans avatar.">
        <meta name="keywords" content="噗浪頭像歷史查詢,噗浪頭像,噗浪正妹牆,正妹牆,Plurk Wall,avatar,正妹,噗浪猛男,噗浪猛男牆,猛男牆,猛男,噗浪猛男,Google App Engine"> 
        <link rel="search" type="application/opensearchdescription+xml" title="Plurkii!" href="/plurkiisearch.xml" /> 
        <link rel="stylesheet" type="text/css" href="/css/css.css">
    </head>
    <body>
        <div class="cc">
                <div class="desc">
                        <a href="/"><img class="mimg" src="/images/user-home.png"></a> <a href="/push"><img class="mimg" src="/images/emblem-favorite.png"></a> <a href="/co-friends"><img class="mimg" src="/images/folder-saved-search.png"></a> <a href="/boys"><img class="mimg" src="/images/face-glasses.png"></a> <a href="/girls"><img class="mimg" src="/images/face-kiss.png"></a> <a href="/karma"><img class="mimg" src="/images/face-monkey.png"></a> <a href="/moreavatar"><img class="mimg" src="/images/face-surprise.png"></a>
                </div>
                <div class="descr">Plurk<b>ii</b>! <a href="/about"><img class="mimg" src="/images/emblem-important.png"></a> <a href="https://addons.mozilla.org/en-US/firefox/addon/14507"><img class="mimg" src="/images/package-x-generic.png"></a> <a href="/wavebot"><img class="mimg" src="http://wave.google.com/favicon.ico"></a> <a href="/contact"><img class="mimg" src="/images/mail-message-new.png"></a> <a href="/promote"><img class="mimg" src="/images/face-devilish.png"></a></div>
        </div>
        <div class="cc top"></div>
        <div class="desc">{% block userinfo %}{% endblock %}</div>
        <div class="descr">
            <form action="/" method="get">
                <input name="u" value="{{ tv.nick_name }}"> <input type="submit" value="Plurkii!">
            </form>
        </div>
        <div class="cc">
        <table width="100%" height="70%">
            <tr align="center">
                <td align="center" valign="middle">
                    <div class="con">{% block content %}{% endblock %}</div>
                </td>
            </tr>
        </table>
        <div class="foot">{% block foot %}{% endblock %}</div>
    </body>
    {% include "h_analytics.htm" %}
</html>

