<html>
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    <title>Plurkii!</title>
    <meta name="description" content="Search your Plurk friends and fans avatar.">
    <link rel="stylesheet" type="text/css" href="/css/css.css">
  </head>
  <body>
    <table width="100%" height="80%">
      <tr>
        <td align="center" valign="middle">
          <div>
            <div class="rdu">{{ tv.tip }}</div>
            <form action="/" method="get">
              帳號或序號
              <input maxlength="40" size="15" name="u" value="{{ tv.nick_name }}">
              <input type="submit" value="Plurkii!">
            </form>
            {{ tv.op }}
          </div>
        </td>
      </tr>
    </table>
  </body>
{% include "h_analytics.htm" %}
</html>
