<html>
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    {% if tv.key %}
    <title>{{ tv.nick_name }} - Plurkii!</title>
    {% else %}
    <title>Plurkii!</title>
    {% endif %}
    <meta name="description" content="View Plurk avatar.">
    {% include "h_header.htm" %}
    {% if tv.key %}
    <script type="text/javascript">
    function loadpics(){
      for (i=2;i<={{ tv.avatar }};i=i+2){
        document.getElementById("loadpics").innerHTML= '<img alt="" src="http://avatars.plurk.com/'+{{ tv.key }}+'-big'+i+'.jpg">'+document.getElementById("loadpics").innerHTML;
      }
    }
    function addpics(){
      var i=Number(document.getElementById("no").innerHTML)+2;
      var uid=Number(document.getElementById("uid").innerHTML);
      var eni = i+20;
      for (i;i<=eni;i=i+2){
        document.getElementById("demo").innerHTML= '<img alt="'+i+'. " src="http://avatars.plurk.com/'+uid+'-big'+i+'.jpg">'+document.getElementById("demo").innerHTML;
        document.getElementById("no").innerHTML = i;
      }
    }
    </script>{% else %}{% endif %}
    {% include "h_analytics.htm" %}
  </head>
  <body{{ tv.onload|safe }}>
    <table width="100%" height="80%">
      <tr>
        <td align="center" valign="middle">
          <div>
            <form action="/" method="get">
              <div class="con">Plurk 帳號或序號 <sup><a href="/howtofindid">How to!</a></sup></div>
              <input class="uin" maxlength="40" size="15" name="u" value="{{ tv.nick_name }}" placeholder="輸入帳號或序號...">
              <input type="submit" value="Plurkii!"><br>
              <div class="con">資料庫找不到可以試試<a href="/byid">這個</a>。{{ tv.moreavatar|random|safe }}</div>
            </form>
            {% if tv.key %}{{ tv.op|safe }}{% else %}{% endif %}
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
