<html>
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    <title>List more avatar {{ title }} - Plurkii!</title>
    <meta name="description" content="View more Plurk avatar.">
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <link rel="search" type="application/opensearchdescription+xml" title="Plurkii!" href="/plurkiisearch.xml"> 
    {% include "h_analytics.htm" %}
  </head>
  <body>
    <table width="100%" height="80%">
      <tr>
        <td align="center" valign="middle">
          <div class="moreavatar">
            {% if op %}{{ op|safe }}{% else %}Try again! ↓{% endif %}
          </div>
          <button onclick="location.reload()">View more...</button>
        </td>
      </tr>
    </table>
  </body>
</html>
