{% extends "h_display.htm" %}

{% block titlename %}{{ tv.nick_name }}'s friends - {% endblock %}

{% block userinfo %}
    <div class="userinfo"><a href="/?u={{ tv.nick_name }}"><img width="90" border="0" src="http://avatars.plurk.com/{{ tv.uid }}-big{{ tv.avatar }}.jpg"> ← </a> <b>{{ tv.nick_name }}'s friends</b></div>
{% endblock %}

{% block content %}
    {% for ff in f %}
        <div class="sdiv"><a href="/?u={{ ff.nick_name }}">{% if ff.uid %}<img src="http://avatars.plurk.com/{{ ff.uid }}-big{{ ff.avatar }}.jpg"><br>{% else %}<img src="/images/face-angel.png">{% endif %}{{ ff.nick_name }}</a></div>
    {% endfor %}
{% endblock %}

{% block foot %}
<div align="right">{% include "h_desc.htm" %}</div>
{% endblock %}
