{% extends "h_infopage.htm" %}

{% block titlename %}Promote - {% endblock %}

{% block content %}
<table class="langtable">
    <tr>
        <td colspan="2"><b>Choice your language for promotion.</b></td>
    </tr>
    <tr>
        <td>Plurkii! Search your Plurk friends and fans avatar</td>
        <td><a href="http://www.plurk.com/?qualifier=shares&status=http://plurkii.appspot.com/ (Plurkii!) Search your Plurk friends and fans avatar"><img border="0" alt="Plurk it!" src="http://www.plurk.com/favicon.ico"></a></td>
    </tr>
    <tr>
        <td>Plurkii! 查詢您的朋友和粉絲 Plurk 頭像</td>
        <td><a href="http://www.plurk.com/?qualifier=shares&status=http://plurkii.appspot.com/ (Plurkii!) 查詢您的朋友和粉絲 Plurk 頭像"><img border="0" alt="Plurk it!" src="http://www.plurk.com/favicon.ico"></a></td>
    </tr>
    <tr>
        <td>Plurkii! 查询您的朋友和粉丝 Plurk 头像</td>
        <td><a href="http://www.plurk.com/?qualifier=shares&status=http://plurkii.appspot.com/ (Plurkii!) 查询您的朋友和粉丝 Plurk 头像"><img border="0" alt="Plurk it!" src="http://www.plurk.com/favicon.ico"></a></td>
    </tr>
    <tr>
        <td>Plurkii! 検索をPlurkの友人やファンのアバター</td>
        <td><a href="http://www.plurk.com/?qualifier=shares&status=http://plurkii.appspot.com/ (Plurkii!) 検索をPlurkの友人やファンのアバター"><img border="0" alt="Plurk it!" src="http://www.plurk.com/favicon.ico"></a></td>
    </tr>
    <tr>
        <td>Plurkii! 검색 Plurk 친구와 팬들의 아바타</td>
        <td><a href="http://www.plurk.com/?qualifier=shares&status=http://plurkii.appspot.com/ (Plurkii!) 검색 Plurk 친구와 팬들의 아바타"><img border="0" alt="Plurk it!" src="http://www.plurk.com/favicon.ico"></a></td>
    </tr>
    <tr>
        <td>Plurkii! Plurk tìm kiếm của bạn bè và đại diện người hâm mộ</td>
        <td><a href="http://www.plurk.com/?qualifier=shares&status=http://plurkii.appspot.com/ (Plurkii!) Plurk tìm kiếm của bạn bè và đại diện người hâm mộ"><img border="0" alt="Plurk it!" src="http://www.plurk.com/favicon.ico"></a></td>
    </tr>
    <tr>
        <td>Plurkii! Cari teman dan Anda penggemar Plurk Penanya</td>
        <td><a href="http://www.plurk.com/?qualifier=shares&status=http://plurkii.appspot.com/ (Plurkii!) Cari teman dan Anda penggemar Plurk Penanya"><img border="0" alt="Plurk it!" src="http://www.plurk.com/favicon.ico"></a></td>
    </tr>
    <tr>
        <td>Plurkii! खोज Plurk अपने दोस्तों और प्रशंसकों अवतार</td>
        <td><a href="http://www.plurk.com/?qualifier=shares&status=http://plurkii.appspot.com/ (Plurkii!) खोज Plurk अपने दोस्तों और प्रशंसकों अवतार"><img border="0" alt="Plurk it!" src="http://www.plurk.com/favicon.ico"></a></td>
    </tr>
    <tr>
        <td>Plurkii! Recherche Plurk vos amis et fans avatar</td>
        <td><a href="http://www.plurk.com/?qualifier=shares&status=http://plurkii.appspot.com/ (Plurkii!) Recherche Plurk vos amis et fans avatar"><img border="0" alt="Plurk it!" src="http://www.plurk.com/favicon.ico"></a></td>
    </tr>
    <tr>
        <td>Plurkii! Suchen Sie Ihr Plurk Freunde und Fans avatar</td>
        <td><a href="http://www.plurk.com/?qualifier=shares&status=http://plurkii.appspot.com/ (Plurkii!) Suchen Sie Ihr Plurk Freunde und Fans avatar"><img border="0" alt="Plurk it!" src="http://www.plurk.com/favicon.ico"></a></td>
    </tr>
    <tr>
        <td>Plurkii! Поиск Plurk ваших друзей и поклонников Avatar</td>
        <td><a href="http://www.plurk.com/?qualifier=shares&status=http://plurkii.appspot.com/ (Plurkii!) Поиск Plurk ваших друзей и поклонников Avatar"><img border="0" alt="Plurk it!" src="http://www.plurk.com/favicon.ico"></a></td>
    </tr>
</table>
{% endblock %}

{% block foot %}
<div align="right">{% include "h_desc.htm" %}</div>
{% endblock %}
