{% extends "h_infopage.htm" %}

{% block titlename %}Google Wave Robot - {% endblock %}

{% block content %}
<table class="aboutable">
    <tr>
        <td><b>Plurkii! for Google Wave Robot.</b></td>
    </tr>
    <tr>
        <td>You can add <b><i>plurkii@appspot.com</i></b> to your Google Wave as a new contact.<br>
            And open a new wave with Plurkii-wave-robot, it will tell you how to use. ;)
        </td>
    </tr>
</table>
{% endblock %}

{% block foot %}
<div align="right">{% include "h_desc.htm" %}</div>
{% endblock %}
