{% extends "h_infopage.htm" %}

{% block titlename %}Google Wave Robot - {% endblock %}

{% block content %}
<table class="langtable">
    <tr>
        <td><b>Plurkii! for Google Wave Robot.</b></td>
    </tr>
    <tr>
        <td>You can add <b><i>plurkii@appspot.com</i></b> to your <a href="http://wave.google.com/">Google Wave</a> as a new contact.<br>
            And open a new wave with Plurkii-wave-robot, it will tell you how to use. ;)<br>
            <br>
            <i><font color="red">Note:</font> This robot is still in development, need your feedback! Thanks!</i> <img src="favicon.ico">
        </td>
    </tr>
</table>
{% endblock %}

{% block foot %}
<div align="right">{% include "h_desc.htm" %}</div>
{% endblock %}
