{% extends "h_infopage.htm" %}

{% block titlename %}About - {% endblock %}

{% block content %}
<table class="aboutable">
    <tr>
        <td colspan="2"><b>Icon description.</b></td>
    </tr>
    <tr>
        <td><img src="/images/user-home.png"></td>
        <td>Home/Index page.</td>
    </tr>
    <tr>
        <td><img src="/images/application-certificate.png"></td>
        <td>User Plurk id.</td>
    </tr>
    <tr>
        <td><img src="/images/applications-system.png"></td>
        <td>User Plurk karma.</td>
    </tr>
    <tr>
        <td><img src="/images/office-calendar.png"></td>
        <td>User birthday.</td>
    </tr>
    <tr>
        <td><img src="/images/internet-web-browser.png"></td>
        <td>User location.</td>
    </tr>
    <tr>
        <td><img src="/images/face-glasses.png"></td>
        <td>A boy/Boys Wall.</td>
    </tr>
    <tr>
        <td><img src="/images/face-kiss.png"></td>
        <td>A girl/Girls Wall.</td>
    </tr>
    <tr>
        <td><img src="/images/face-monkey.png"></td>
        <td>Karma 100 Wall.</td>
    </tr>
    <tr>
        <td><img src="/images/emblem-photos.png"></td>
        <td>User's all avatars.</td>
    </tr>
    <tr>
        <td><img src="/images/system-users.png"></td>
        <td>User's all friends.</td>
    </tr>
    <tr>
        <td><img src="/images/internet-group-chat.png"></td>
        <td>Talk and rate.</td>
    </tr>
    <tr>
        <td><img src="/images/emblem-favorite.png"></td>
        <td>Push!</td>
    </tr>
    <tr>
        <td><img src="/images/system-search.png"></td>
        <td>Search more about User.</td>
    </tr>
    <tr>
        <td><img src="/images/folder-saved-search.png"></td>
        <td>User's co-friends.</td>
    </tr>
    <tr>
        <td><img src="/images/package-x-generic.png"></td>
        <td>Firefox add-ons - Plurkii!</td>
    </tr>
</table>
{% endblock %}

{% block foot %}
<div align="right">{% include "h_desc.htm" %}</div>
{% endblock %}
