{% extends "h_display.htm" %}

{% block titlename %}{{ p.pa }} & {{ p.pb }}'s co-friends - {% endblock %}

{% block userinfo %}
    <div class="userinfo"><b>{{ p.pa }} & {{ p.pb }}'s co-friends</b></div>
    <div class="cc frichart"><img src="{{ p.pchart }}"></div>
    <div class="con"><b>Share this to Plurk.</b><br>
        <input disabled="disabled" size="40" value="{{ p.pa }} and {{ p.pb }}'s co-friends - Plurkii!"> 
        <a target="_blank" href="http://www.plurk.com/?qualifier=shares&status=@{{ p.pa }} and @{{ p.pb }}'s http://plurkii.appspot.com/friccc?u={{ p.pa }}|{{ p.pb }} (co-friends) - http://plurkii.appspot.com/ (Plurkii!)"><img class="mimg" src="/images/audio-volume-high.png"></a>
        <br><br>
    </div>
    <div class="userinfo"><b>Co-friends List</b></div>
{% endblock %}

{% block content %}

    {% for ff in f %}
        <div class="sdiv"><a href="/?u={{ ff.nick_name }}">{% if ff.uid %}<img src="http://avatars.plurk.com/{{ ff.uid }}-big{{ ff.avatar }}.jpg"><br>{% else %}<img src="/images/face-angel.png">{% endif %}{{ ff.nick_name }}</a></div>
    {% endfor %}
{% endblock %}

{% block foot %}
<div align="right">{% include "h_desc.htm" %}</div>
{% endblock %}
