a {
        color:#ff5;
        text-decoration: none;}
a:hover{
        color:#5ff}
body{
        font-family: arial;
        color:#fff;
        background:#222;}
input, button{
        font-size:14pt;
        font-family: arial;
        font-weight: bold;
        padding:4px;
        margin:4px;
        border:1px #880 solid;
        color:#aff;
        background:#223;}
.uin{
        color:#ff5;
        background:#222;
        border:1px #880 solid;
        text-shadow:1px 1px 1px #f55;}

.desc {
        float: left;
        font-size:10pt;}
.descr {
        float: right;
        margin: 1px;
        padding: 1px;
        font-size:10pt;
        color:#778899;}
.rdu {
        font-size:10pt;}
.rdu a {
        color:#ddeedd;
        text-decoration: none;}
.rdu a:hover{
        color:#4444bb;
        font-weight: bold;}
.wall img{
        border:0px;
        width:86px;}
.con, body{
        font-size:10pt;
        text-shadow:1px 1px 1px #5f5;}
.mimg{
        vertical-align:middle;
        border:0px;}
.app{
        width:195;
        text-align:right;}
.userinfo{
        font-size:18pt;}
.frichart{
        width:100%;}
.top {
        border-top:1px #C9D7F1 solid;
        height:6px;}
.sdiv {
        float:left;
        margin: 5px;
        padding: 4px;
        border:1px #ccaadd dashed;
        width:90px;
        font-size:10pt;
        text-overflow : ellipsis;
        overflow : hidden;}
.sdiv img{
        width:90;
        border:0px}
.aboutable{
        font-size:10pt;
        background:#eeddcc;
        padding:6px;
        margin:6px;}
.aboutable td{
        border-bottom:1px #990066 solid;}
.langtable{
        font-size:16pt;
        background:#eeeeff;
        padding:14px;
        margin:14px;}
.langtable td{
        border-bottom:1px #aabbaa solid;}
.foot {clear:both;}
.cc {clear:both;}
#demo {
        font-size:10pt;}
.listq {
        background:#334;
        border:1px #667 solid;
        padding:6px;
        margin:6px;}
#demo img,#loadpics img,.moreavatar img{
        padding: 3px;
        border:3px #333 solid;}
.moreavatar img{
        width:120px;}
#demo img:hover,#loadpics img:hover,.moreavatar img:hover{
        border:3px #ede solid;}
.body {
        width:100%;
        height:100px;
        margin:0 auto;
        text-align:center;}
